html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  margin: 5px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#29293e, #152c57);
}

.mainTit {
  width: 100%;
  height: 4.18rem;
  line-height: 4.18rem;
  text-align: center;
  font-size: 1.56rem;
  color: #333;
  background-color: #fff;
}

@media screen and (max-width: 320px) {
  .main {
    position: relative;
    transform: scale(0.8);
    left: -8px;
    top: -50px;
  }
}

.main {
  width: 100%;
  height: 28.81rem;
  background: url(../img/beijing.png) center top no-repeat;
  background-size: 100% 41.68rem;
  padding-top: 1.31rem;
}

.main .domBox {
  position: relative;
  width: 21.5rem;
  height: 30.12rem;
  margin: 0 auto;
}

.main .domBox .jixiebi {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2.43rem;
  transition: all .5s;
  height: 4.68rem;
  background: url(../img/guanzi.png) center top no-repeat;
  background-size: 0.5rem 100%;
}

.main .domBox .jixiebi .jixiebiTou {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -25px;
  width: 2.43rem;
  height: 1.56rem;
  background: url(../img/jixiebitou.png) center center no-repeat;
  background-size: 2.43rem 1.56rem;
  z-index: 9;
}

.main .domBox .jixiebi>div {
  position: absolute;
  width: 1.87rem;
  height: 2.18rem;
  transition: all .25s;
}

.main .domBox .jixiebi .jixiezhuaL {
  left: -10px;
  bottom: -55px;
  background: url(../img/zuobian.png) center top no-repeat;
  background-size: 1.87rem 2.18rem;
  transform: rotate(-30deg);
}

.main .domBox .jixiebi .jixiezhuaR {
  left: 18px;
  bottom: -55px;
  background: url(../img/youbian.png) center top no-repeat;
  background-size: 1.87rem 2.18rem;
  transform: rotate(30deg);
}

.main .domBox .topBtn {
  position: absolute;
  width: 21.5rem;
  height: 1.4rem;
  top: 2.62rem;
}

.main .domBox .topBtn .gameNum {
  float: left;
  width: 103.5px;
  height: 1.62rem;
  line-height: 1.62rem;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 2.18rem;
  background: url(../img/gameNum.png) center center no-repeat;
  background-size: 103.5px 1.62rem;
}

.main .domBox .topBtn .Btns {
  float: right;
  width: 6.25rem;
  height: 1.62rem;
  font-size: 0;
}

.main .domBox .topBtn .Btns span {
  display: inline-block;
  width: 1.75rem;
  height: 1.62rem;
}

.main .domBox .topBtn .Btns .helpBtn {
  background: url(../img/q1.png) center center no-repeat;
  background-size: 1.75rem 1.62rem;
  margin-right: 0.56rem;
}

.main .domBox .topBtn .Btns .jiangpinBtn {
  background: url(../img/w1.png) center center no-repeat;
  background-size: 1.75rem 1.62rem;
}

.main .domBox .domBoxBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 21.5rem;
  height: 30.12rem;
  background: url(../img/lampBorder.png) center center no-repeat;
  background-size: 21.5rem 30.12rem;
  z-index: 9;
}

.main .domBox .domBoxBg2 {
  position: absolute;
  padding: 0.12rem;
  left: -15px;
  top: -7px;
  width: 23rem;
  height: 30.5rem;
  background: url(../img/lamp.png) center center no-repeat;
  background-size: 23rem 31rem;
  z-index: 9;
}

.main .domBox .rabbitBox {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 1.56rem;
  overflow: hidden;
  z-index: 1;
  width: 20.5rem;
  height: 9.75rem;
  background: url(../img/zhantai.png) left bottom no-repeat;
  background-size: 21.5rem 5.31rem;
}

.main .domBox .rabbitBox .bigRabbit {
  position: absolute;
  bottom: 14px;
  height: 7.5rem;
}

.main .domBox .rabbitBox .bigRabbit .BigRabbitItem {
  width: 4.68rem;
  height: 7.5rem;
  padding: 0 16px;
  float: left;
  background: url(../img/tuzi1.png) center center no-repeat;
  background-size: 4.68rem 7.5rem;
}

.main .domBox .rabbitBox .bigRabbit .yelloRabbit {
  background: url(../img/tuzi2.png) center center no-repeat;
  background-size: 4.68rem 7.5rem;
}

.main .domBox .rabbitBox .smallRabbit {
  position: absolute;
  bottom: 30px;
  height: 7.5rem;
}

.main .domBox .rabbitBox .smallRabbit .smallRabbitItem {
  width: 2.87rem;
  height: 4.84rem;
  padding: 0 16px;
  float: left;
  background: url(../img/tuzi1xiao.png) center center no-repeat;
  background-size: 2.87rem 4.84rem;
}

.main .domBox .rabbitBox .smallRabbit .smallyelloRabbit {
  background: url(../img/tuzi2xiao.png) center center no-repeat;
  background-size: 2.87rem 4.84rem;
}

.control {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.71rem;
  background: url(../img/control.png) center center no-repeat;
  background-size: 100% 3.71rem;
}

.play {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
  width: 10rem;
  height: 2.9rem;
  background: url(../img/playGame.png) left top no-repeat;
  background-size: 10rem 2.9rem;
}

.mark {
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
}

.alret {
  display: none;
  position: absolute;
  height: 10.93rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1000;
  text-align: center;
}

.alret h1 {
  font-size: 0.87rem;
  color: #fff;
  text-align: center;
  margin-bottom: 0.78rem;
}

.alret img {
  display: inline-block;
  margin: 0 auto;
  width: 13.75rem;
  height: 9.28rem;
}


/* 夹中兔子 */
.box{
    background: #f9fbb3;
    width: 85%;
    border-radius: 20px;
}
.module{
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  }
.whitebg {
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.95;
}
.note {
 display: none;
 height: 100%;
 width: 100%;
}

.note h1 {
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  padding-top: 20px;
}

.note p {
  padding: 15px;
  font-size: 0.5rem;
  text-align: left;
  line-height: 17px;
}

.nip {
  margin: 26px;
  margin-top: 30px;
}

.like {
  margin-right: 30px;
  padding: 15px;
  position: relative;
  text-align: right;
}

.comment {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.comment li {
  padding: 10px;
  border-top: 1px solid #8f8f92;
  color: #5e5e61;
  font-size: 0.5rem;
  line-height: 17px;
}

.commentL {
  width: 50%;
  background-color: red;
  display: inline-block;
  color: #fff;
  text-align:center;
  height: 30px;
  padding-top: 15px;
  font-size: 0.9rem;
}

.commentR {
  width: 50%;
  background-color: #f9a81b;
  display: inline-block;
  float: right;
  color: #fff;
  text-align: center;
  height: 30px;
  padding-top: 15px;
  font-size: 0.9rem;
}
/* 夹兔子结束 */
/* 加兔子失败 */
.fail{
  display: none;
  height: 9rem;
  bottom: 0;
  margin: auto;
  text-align: center;
}
 .fail h2{
  padding: 20px;
  font-size: 1rem;
  font-weight: 600;
}
/* end */
/* 礼盒 */
.gift{
  display: none;
  height: 17.89rem;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.gift img{
  display: inline-block;
  margin: 0 auto;
  width: 9.75rem;
  height: 6.28rem;
}
.gift h1{
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  color: red;
}
/* end */
.main .domBox .jixiebi .rabbitItem 
{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: -95px;
		width: 2.87rem;
		height: 4.84rem;
		background: url(../img/tuzi1xiao.png) center center no-repeat;
		background-size: 2.87rem 4.84rem;
		z-index: 10;
    display: none;
}